.delivaryDetails{
    width: 400px !important;
    height: 40px !important;
    border: 1px solid lightgrey !important;
    border-radius: 5px !important;
    background-color: lightgrey;
}
.btmBorder{
    border: none;
    border-bottom: 1px solid black;
}
.delivaryDetails:disabled{
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0px !important;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.cart{
    background-color: lightgray;
    height: 100px;
    border-radius: 10px;
}
.cart-btn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}
.cart-btn:disabled{
    opacity: .4;
}
.food-quantity{
    width: 50px;
    text-align: center;
    
}